
<div class="desk">
    <div class="d-flex p-4 header-container">
        <img src="assets/images/cue-zone-aus-logo-transparent.png" width="150px">
        <div class="header-nav d-flex">
            <a class="align-self-end" routerLink="/about">About <span class="material-symbols-outlined">arrow_right</span></a> 
            <a class="align-self-end" routerLink="/home">Home <span class="material-symbols-outlined">arrow_right</span></a>
            <a class="align-self-end" >Cues <span class="material-symbols-outlined">arrow_right</span></a>
            <a class="align-self-end" >Shafts <span class="material-symbols-outlined">arrow_right</span></a>
            <a class="align-self-end" >Accessories <span class="material-symbols-outlined">arrow_right</span></a>
        </div>
    </div>
</div>

<div class="mobile">
    <div class="header-container-sm d-flex">
        <img src="assets/images/cue-zone-aus-logo-transparent.png" width="40px">
        <span>Cue Zone Australia</span>
        <i [ngClass]="!navActive ? 'fa-solid fa-bars' : 'fa-solid fa-xmark'" (click)="navIconClick()"></i>
    </div>
    <div class="nav-menu d-flex flex-column" [ngClass]="navActive ? 'is-active': ''">
        <a routerLink="/about">About <span class="material-symbols-outlined">arrow_right</span></a> 
        <a routerLink="/home">Home <span class="material-symbols-outlined">arrow_right</span></a>
        <a routerLink="/about">Cues <span class="material-symbols-outlined">arrow_right</span></a>
        <a routerLink="/about">Shafts <span class="material-symbols-outlined">arrow_right</span></a>
        <a routerLink="/about">Accessories <span class="material-symbols-outlined">arrow_right</span></a>
        <br>
        <br>
    </div>
</div>

