<div class="d-flex p-4 header-container">
    <img src="assets/images/cue-zone-aus-logo-transparent.png" width="150px">
    <div class="header-nav d-flex">
        <a class="align-self-end" href="">About <span class="material-symbols-outlined">arrow_right</span></a> 
        <a class="align-self-end" href="">Home <span class="material-symbols-outlined">arrow_right</span></a>
        <a class="align-self-end" href="">Cues <span class="material-symbols-outlined">arrow_right</span></a>
        <a class="align-self-end" href="">Shafts <span class="material-symbols-outlined">arrow_right</span></a>
        <a class="align-self-end" href="">Accessories <span class="material-symbols-outlined">arrow_right</span></a>
    </div>
</div>
