.p-4{
    padding: 16px;
}
a{
    color: white;
}
a:hover, a:focus{
    color: #f3c811;
}
.header-container{
    background-color: black;
}
.header-nav{
    margin-top: 100px;
    height:50px;
    border-top: 1px solid  rgba(255, 255, 255, 0.2);
    margin-left: 80px;
    gap: 40px;
    width: 100%;
    

    a{
        text-decoration: none;
        font-family: Inter;
        span{
            position:relative;
            top:7px;
            left:-5px;
        }
        span:active{
            transform: translateX(20px);
            transition: transform 0.5s;
        }
        
    }
}
