
<div class="desk">
    <div class="d-flex p-4 header-container">
        <img src="assets/images/cue-zone-aus-logo-transparent.png" routerLink="/" class="clickable">
        <div class="header-nav d-flex">
            <a class="align-self-end" routerLink="/about">About <span class="material-symbols-outlined">arrow_right</span></a> 
            <a class="align-self-end" routerLink="/home">Home <span class="material-symbols-outlined">arrow_right</span></a>
            <a class="align-self-end" routerLink="/cues/discover">Cues <span class="material-symbols-outlined">arrow_right</span></a>
            <a class="align-self-end" routerLink="/shafts">Shafts <span class="material-symbols-outlined">arrow_right</span></a>
            <a class="align-self-end" routerLink="/accessories" >Accessories <span class="material-symbols-outlined">arrow_right</span></a>
        </div>
    </div>
</div>

<div class="mobile">
    <div class="header-container-sm d-flex" [style]="navActive ? {'position': 'fixed'} : {}">
        <img src="assets/images/cue-zone-aus-logo-transparent.png" width="40px" routerLink="/home" class="clickable">
        <span class="pointer-cursor" routerLink="/home" class="clickable">Cue Zone Australia</span>
        <i [ngClass]="!navActive ? 'fa-solid fa-bars' : 'fa-solid fa-xmark'" (click)="navIconClick()"></i>
    </div>
    <div class="nav-menu d-flex flex-column" [ngClass]="navActive ? 'is-active': ''">
        <a routerLink="/about" (click)="navIconClick()">About <span class="material-symbols-outlined">arrow_right</span></a> 
        <a routerLink="/home" (click)="navIconClick()">Home <span class="material-symbols-outlined">arrow_right</span></a>
        <a routerLink="/cues/discover" (click)="navIconClick()">Cues <span class="material-symbols-outlined">arrow_right</span></a>
        <a routerLink="/shafts" (click)="navIconClick()">Shafts <span class="material-symbols-outlined">arrow_right</span></a>
        <a routerLink="/accessories" (click)="navIconClick()">Accessories <span class="material-symbols-outlined">arrow_right</span></a>
    </div>
</div>

