.aboutMe-container{
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-position: 2px;
    @media screen and (max-width: 600px) {
        padding-bottom: 80px;
    }
}
.text-container{
    padding: 30px 30px;
    width: 60%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    @media screen and (max-width: 600px) {
        width: 90% !important;
    }
    img{
        margin-right: 8px;
    }
    min-height: 750px;
}