<div class="cue-page-container">
    <div class="content-container">
        <section class="mb-5">
            <div class="d-flex align-items-center mb-3 series-title"><span class="mr-2 badge badge-red">Limited</span><h2 class="mb-0">限量款 Limited Editions</h2></div>
            <div class="series-container">
                <div class="product-card-container mb-3" *ngFor="let product of limitedProducts"><ui-product-card [product]="product"></ui-product-card></div>
            </div>
        </section>
        <section class="mb-5">
            <div class="d-flex align-items-center mb-3 series-title"><span class="mr-2 badge badge-blue">Popular</span><h2 class="mb-0">静远 Elegance Series</h2></div>
            <div class="series-container">
                <div class="product-card-container mb-3" *ngFor="let product of eleganceSeriesProducts"><ui-product-card [product]="product"></ui-product-card></div>
            </div>
        </section>
        <section class="mb-5">
            <div class="d-flex align-items-center mb-3 series-title"><span class="mr-2 badge badge-blue">Popular</span><h2 class="mb-0">太极 Taichi Series</h2></div>
            <div class="series-container">
                <div class="product-card-container mb-3" *ngFor="let product of taichiSeriesProducts"><ui-product-card [product]="product"></ui-product-card></div>
            </div>
        </section>
        <section class="mb-5">
            <div class="d-flex align-items-center mb-3 series-title"><span class="mr-2 badge badge-blue">Popular</span><h2 class="mb-0">无极 Infinity Series</h2></div>
            <div class="series-container">
                <div class="product-card-container mb-3" *ngFor="let product of infinitySeriesProducts"><ui-product-card [product]="product"></ui-product-card></div>
            </div>
        </section>
    </div>
</div>
