<div class="cue-page-container">
    <div class="content-container">
        <section class="mb-5">
            <div class="d-flex align-items-center mb-3 series-title"><span class="mr-2 badge badge-red">Essential</span><h2 class="mb-0">配件 Accessories</h2></div>
            <div class="series-container">
                <div class="product-card-container mb-3" *ngFor="let product of accessoriesProducts"><ui-product-card [product]="product"></ui-product-card></div>
            </div>
        </section>
    </div>
</div>
