@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.swiper-button-next::after{
    color:black;
    font-size: 1.5rem !important;
}
.swiper-button-prev::after{
    color:black;
    font-size: 1.5rem !important;
}